<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
        <title>Badminton Gaming Login</title>
    </head>
    <body>
        <div class="sidebar">
            <a href="/">Home</a>
            <a href="/players">Players</a>
            <a href="/results">Results</a>
            <a href="/games">Games</a>
            <a href="/news">News</a>
        </div>
        <div class="head-pic">
                <div class="side-image"></div>
                <div class="main">
                    <h1>Badminton Gaming</h1>
                </div>
        </div>
        <div class="topnav">
            <a href="/signup">SignUp</a>
            <a href="/login">LogIn</a>
            <a href="#">About</a>
        </div>
        <div class = "form">
                <h2>Login Form</h2>
                <form action="/login" method = "POST">
                    <div class="container">
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>
                    
                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                            
                        <button type="submit">Login</button>
                   
                  </div>
                
                  <div  id = "register" style="background-color:#f1f1f1">
                     <a class="signup__link" href="/signup">New members register here</a>
                  </div>
                </form>
        </div>
    </body>
</html>