<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    <title>Badminton Gaiming SignUp</title>
</head>
<body>
    <div class="sidebar">
        <a href="/">Home</a>
        <a href="/players">Players</a>
        <a href="/games">Games</a>
        <a href="/results">Results</a>
        <a href="/news">News</a>
    </div>
    <div class="head-pic">
            <div class="side-image"></div>
            <div class="main">
                <h1>Badminton Gaming</h1>
            </div>
    </div>
    <div class="topnav">
        <a href="/signup">SignUp</a>
        <a href="/login">LogIn</a>
        <a href="#">About</a>
    </div>
    <div class = "form">
        <h2>Register Form</h2>
        <form action="/signup" method = "POST">
        <div class="container">
            <div class="form-group">
                <label for="firstname"><b>First Name</b></label>
                <input class="form-control" type="text" name="firstname" id="firstname" placeholder="First Name" required />
            </div>
            <div class="form-group">
                <label for="lastname"><b>Last Name</b></label>
                <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Last Name" required />
            </div>
            <div class="form-group">
                <label for="mobilenumber"><b>Mobile Number</b></label>
                <input class="form-control" type="text" name="mobilenumber" id="mobilenumber" placeholder="Mobile Number"/>
            </div>
            <div class="form-group">
                <label for="email"><b>Email</b></label>
                <input class="form-control" type="text" name="email" id="email" placeholder="user@user.com" required />
            </div>
            <div class="form-group">
                <label for="country"><b>Country</b></label>
                <input class="form-control" type="text" name="country" id="country" placeholder="Country" required />
            </div>
            <div class="form-group">
                <label for="username"><b>Username</b></label>
                <input class="form-control" type="text" name="username" id="username" placeholder="username" required />
            </div>
            
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
            </div>
            <div class="form-group">
                <label for="passwordRepeat"><b>Repeat Password</b></label>
                <input class="form-control" type="password" name="passwordRepeat" id="passwordRepeat" placeholder="********" required />
            </div>
            <button type="submit">Register</button>
            <div  id = "register" style="background-color:#f1f1f1">
                    <a class="signup__link" href="/login">I am already a member</a>
            </div>
         </div>
        </div>
        </form>
    </div>   
    
</body>
</html>