ul li{
    list-style: none;
}
.top {
    height:40px;
    text-transform: uppercase;
    border-radius: 5px;
}
.notuser{
  float: right;
  margin-left: 5px;
  margin-right: 10px;
}
.user{
  float: left;
  margin-right: 5px;
  margin-left: 10px;
}
